* {
    margin: 0;
    padding: 0;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    box-sizing: border-box;
}

.main {
    position: relative;
    background-image: url("assets/images/bg.jpg");
    width: 100%;
    height: 117vh;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    left: 0;
}

.main nav {
    display: flex;
    width: 77vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    position: relative;
    z-index: 12;
    flex-wrap: wrap;
}

button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    align-items: center;
    padding: 8px 18px;
    font-weight: bold;
}

.main .opacity-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

.main .hero {
    height: calc(100vh - 1px);
    position: relative;
    z-index: 12;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.hero .first {
    font-size: 3.5vw;
    font-weight: 900;
}

.hero .second {
    font-size: 2vw;
    font-weight: 400;
}

.hero .third {
    font-size: 1.6vw;
    font-weight: 400;
}

.main .email-sec {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    /* Limit the maximum width */
}

#email {
    width: 70%;
    /* Adjust width to fit smaller screens */
    max-width: 300px;
    height: 48px;
    border-radius: 5px;
    background-color: rgb(22, 22, 22);
    opacity: 0.5;
    color: white;
    padding: 0 11px;
}

.email-sec button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
}

.btn {
    cursor: pointer;
}

.main .email-sec ::-webkit-input-placeholder {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .hero .first {
        font-size: 7vw;
    }

    .hero .second {
        font-size: 4vw;
    }

    .hero .third {
        font-size: 3vw;
    }

    .main #email {
        width: 80%;
    }

    .main .email-sec button {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .hero .first {
        font-size: 9vw;
    }

    .hero .second {
        font-size: 5vw;
    }

    .hero .third {
        font-size: 4vw;
    }

    .main #email {
        width: 90%;
    }

    .main .email-sec button {
        font-size: 12px;
    }
}

.separation-bar {
    width: 100%;
    height: 8px;
    background-color: #232323;
}

.sec {
    background-color: black;
    width: 100%;
    color: white;

}

.sec-1 .sub-sec {
    display: flex;
    width: 75vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    height: 85vh;
    gap: 40px;
}

.sec-1 .sub-sec .text-sec {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
    gap: 20px;
}

 h2 {
    font-size: 3em;
    font-weight: 900px;

}

p {
    font-size: 1.5em;
    font-weight: 400px;
}

.sec-1 .sub-sec .image-sec {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.sec-1 .sub-sec .image-sec img {
    width: 38vw;
    grid-row: 1 / 2;
    position: relative;
    z-index: 5;
}

.sec-1 .sub-sec .image-sec video {
    width: 73%;
    grid-row: 1 / 2;
    position: absolute;
    top: 20%;
}

@media (max-width:960px) {

    .sec-1 {
        padding-top: 15vh;
        padding-bottom: 30vh;
    }

    .sub-sec {
        flex-wrap: wrap;
        font-size: 0.7rem;
        text-align: center;
    }

    .sec-1 .sub-sec .image-sec {
        scale: 1.8;
    }
}

.sec-2 .sub-sec {
    display: flex;
    flex-direction: row-reverse;
    width: 75vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    height: 85vh;
    gap: 40px;
    position: relative;
}

.sec-2 .sub-sec .text-sec {
    position: relative;
    z-index: 5;
}

.sec-2 .sub-sec .text-sec h2 {
    font-size: 3em;
    font-weight: 900px;
}

.sec-2 .sub-sec .text-sec p {
    font-size: 1.5em;
    font-weight: 400px;
}

.sec-2 .sub-sec .image-sec {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: end;
    justify-items: center;
    position: relative;
}

.sec-2 .sub-sec .image-sec>img {
    width: 35vw;
}

.sec-2 .sub-sec .download-box {
    width: 80%;
    max-width: 20rem;
    height: auto;
    border: 1px solid gray;
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    padding: 8px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.sec-2 .sub-sec .download-box .text {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sec-2 .sub-sec .download-box .text p {
    font-size: 1.2vw;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sec-2 .sub-sec .download-box .text p:nth-child(1) {
    font-weight: bold;
}

.sec-2 .sub-sec .download-box .text p:nth-child(2) {
    color: rgb(46, 46, 255);
    font-size: 1vw;
}

.sec-2 .sub-sec .download-box img {
    width: 20%;
    max-width: 10vh;
    height: auto;
}

@media (min-width: 1768px) {
    .sec-2 .sub-sec .download-box {
        width: 120%;
        min-width: 60%;
    }
}

@media (max-width: 960px) {
    .sec-2 .sub-sec {
        height: 100vh;
        margin: auto;
        gap: 0;
    }

    .sec-2 .sub-sec .text-sec h2 {
        font-size: 1.9rem;
    }

    .sec-2 .sub-sec .text-sec p {
        font-size: 1.2rem;
    }

    .sec-2 .sub-sec .image-sec {
        scale: 1.1;
    }
}

@media (max-width: 600px) {
    .sec-2 .sub-sec {
        height: 70vh;
        max-height: 70vh;
        margin: auto;
        gap: -10;
    }

    .sec-2 .sub-sec .text-sec h2 {
        font-size: 1.3rem;
    }

    .sec-2 .sub-sec .text-sec p {
        font-size: 0.8rem;
    }


    .sec-2 .sub-sec .image-sec {
        scale: 1.2;
    }

    .sec-2 .sub-sec .download-box {
        width: 70%;
        padding: 5px;
        border-radius: 8px;
    }

    .sec-2 .sub-sec .download-box .text p {
        font-size: 1.5vw;
    }

    .sec-2 .sub-sec .download-box img {
        width: 15%;
    }
}

.sec-3 .sub-sec {
    width: 75vw;
    margin: auto;
    padding: 10% 5%;
    display: flex;
}

.sec-3 .text-sec {
    width: 40%;
}

.sec-3 .text-sec h2 {
    font-size: 3rem;
    font-weight: 900;
}

.sec-3 .text-sec p {
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 960px) {
    .sec-3 .sub-sec {
        justify-content: center;
        align-items: center;
    }

    .sec-3 .sub-sec .text-sec {
        width: 100%;
    }

    .sec-3 .sub-sec .text-sec h2 {
        font-size: 1.5rem;
    }

    .sec-3 .sub-sec .text-sec p {
        font-size: 1rem;
    }
}

.sec-4 .sub-sec {
    width: 75vw;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    padding: 5% 0;
    gap: 10px;
}
.sec-4 .text-sec {
    width: 50%;
}
.sec-4 .text-sec h2 {
    font-size: 3rem;
    font-weight: 900;
}

.sec-4 .text-sec p {
    font-size: 1.5rem;
    font-weight: 400;
}

.sec-4 .image-sec img {
    width: 90%;
}

@media (min-width:1768px) {
    .sec-4 .sub-sec .text-sec h2 {
        font-size: 3.5rem;
    }

    .sec-4 .sub-sec .text-sec p {
        font-size: 2rem;
    }
}

@media (max-width: 960px) {
    .sec-4 .sub-sec {
        justify-content: center;
        align-items: center;
    }

    .sec-4 .sub-sec .text-sec {
        width: 100%;
    }

    .sec-4 .sub-sec .text-sec h2 {
        font-size: 1.5rem;
    }

    .sec-4 .sub-sec .text-sec p {
        font-size: 1rem;
    }
}

.faq-sec .sub-sec {
    width: 75vw;
    margin: auto;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.faq-sec .sub-sec .q-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq-sec .sub-sec .q-sec p{
    background-color: #232323;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.faq-sec .email-sec {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

footer {
    background-color: black;
    color: rgb(153, 149, 149);
}

.footer * {
    cursor: pointer;
}

.footer {
    width: 75vw;
    margin: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 60vh;
}

footer .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    text-decoration: underline;
}

footer .wrapper li {
    list-style: none;
}

footer .wrapper li:first-child {
    grid-column: 1 / 5;
}

.footer button {
    width: 120px;
    max-width: 20vw;
    background-color: #2323237a;
    border: 1px solid white;
}