* {
    margin: 0;
    padding: 0;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.main {
    background-image: url("assets/images/bg.jpg");
    max-width: max(1200px, 100vw);
    max-height: 135vh;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.main nav {
    display: flex;
    max-width: 75vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
    z-index: 12;
    flex-wrap: wrap;
}

.main button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    align-items: center;
    padding: 8px 18px;
    font-weight: bold;
}

.main .opacity-box {
    width: 100%;
    min-height: 108.5%;
    background-color: black;
    opacity: 0.70;
    position: absolute;
    top: 0;
}

.main .hero {
    height: 90vh;
    position: relative;
    z-index: 12;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.first {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.second {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.third {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.main .email-sec {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main #email {
    min-width: max(300px);
    height: 48px;
    border-radius: 5px;
    /* background-color: rgba(34, 34, 34, 0.623); */
    background-color: #384150;
    opacity: 0.75;
    color: white;
    padding: 0 11px;
}

.btn {
    cursor: pointer;
}

.main .email-sec button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    height: 52px;
    font-size: 24px;
    font-weight: bold;
}

.main .email-sec ::-webkit-input-placeholder{
    font-size: 16px;
    color: rgb(255, 255, 255);
}